extends layout

block content
  div(class='container-fluid')
    div(class='row')
      div(class='col-sm-2')
        block sidebar
          ul(class='sidebar-nav')
            li
              a(href='/catalog/signup') Sign Up
              br
              br
              a(href='/catalog/login') Log In
              br
              br
              a(href='/catalog/about') About
  style(type='text/css').
    h1 {
      margin-left: 250px;
      text-align: center;
      color: white;
      font-size: 40px;
    }
