extends layout

block content
  h1 Log In
  form(method='POST' action='/catalog/login')
    div.form-group
      label(for='Email') Email:
      input#email.form-control(type='text', name='email')
      label(for='Password') Password:
      input#password.form-control(type='text', name='password')
    button.btn.btn-primary(type='submit') Log In
  style(type='text/css').
      h1 {
        color: white;
      }
      form {
        color: White;
      }


  if errors
    ul
      for error in errors
        li != error.msg
