
body {
  background-color: DodgerBlue;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: White;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    font-size: 20px;
}
